# Core Django
SECRET_KEY=django-insecure-#$k71n*uxsq3n=g+4+(-t*)s1v_a&&47tm7dqgz_&93#fbxoq4
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost,https://yourdomain.com
TIME_ZONE=Asia/Jakarta

# Database Option 1: SQLite (Default)
DB_ENGINE=sqlite3
DB_NAME=db.sqlite3

# Database Option 2: PostgreSQL (Aktifkan jika di server pakai PostgreSQL)
# DB_ENGINE=postgresql
# DB_NAME=bom_db
# DB_USER=bom_user
# DB_PASSWORD=your_password
# DB_HOST=localhost
# DB_PORT=5432

# Database Option 3: MySQL (Aktifkan jika di server pakai MySQL)
# DB_ENGINE=mysql
# DB_NAME=bom_db
# DB_USER=bom_user
# DB_PASSWORD=your_password
# DB_HOST=localhost
# DB_PORT=3306
